doctype html
html
  head
    link(href="assets/css/main.css", rel="stylesheet")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="Scripts/main.js")
  body
    .chatView
      .status
        .lable Your nickname:
        input.myName(type="text", value="Guest")
        button.changeNameBtn(onClick="chat.updateName()") Update
      .content
      .chatInput
        input#chatInput(type="text", placeholder="Write a message here.")
        button(onClick="chat.send()") Send
